{% extends 'qml_webs/base.html' %}

{% block page_header %}
    <div class="p-3 mb-4 bg-light border rounded-3">
        <div class="container-fluid py-4">
            <p style="text-align:center; font-size:30px; color:red">欢迎您来到上海谦迈乐信息技术有限公司！</p>
            <p style="margin-top: 3em; text-indent:2em">上海谦迈乐信息技术有限公司成立于2026年，坐落于上海临港，是一家专注于信息软件服务的科技企业。公司深耕IT行业多年，聚焦客户真实需求，集开发、销售、服务于一体，主营产品有搭建官网服务，游戏软件开发，AI咨询服务。</p>
            <p style="text-indent:2em">公司拥有专业技术团队与完善软件开发体系，坚持以品质为根基、创新为驱动力，建立标准软件研发销售服务体系。凭借稳定的产品、高性价比方案与贴心服务，业务覆盖全国并拓展至海外市场。</p>
            <p style="text-indent:2em">秉持“诚信为本、精益求精”的经营理念，公司持续迭代技术与服务，致力于为客户创造长期价值，致力成为行业内值得信赖的标杆企业。</p>
        </div>
    </div>
{% endblock page_header %}

{% load static %}
{% block content %}
<p style="text-align:center"><img src="{% static 'img/lingang.jpg' %}"></p>
{% endblock content %}

{% block page_bottom %}
    <div class="p-2 mb-4 bg-light rounded-3">
        <div class="container-fluid py-2">
            <p style="text-align:center"><a href="https://beian.miit.gov.cn/" target="_blank">沪ICP备2026038619号-1</a></p>
        </div>
    </div>
{% endblock page_bottom %}