{% extends 'qml_webs/base.html' %}

{% block page_header %}
    <div class="p-3 mb-4 bg-light border rounded-3">
        <div class="container-fluid py-4">
            <p style="text-align:center; font-size:30px; color:red">欢迎您来到上海谦迈乐信息技术有限公司！</p>
            <p style="text-align:center">上海谦迈乐信息技术有限公司成立于2025年上海，是一家信息科技软件服务公司。主要产品有搭建官网服务，游戏程序开发，AI咨询服务为主的软件服务有限公司。</p>
        </div>
    </div>
{% endblock page_header %}

{% load static %}
{% block content %}
<p style="text-align:center"><img src="{% static 'img/licence.jpg' %}"></p>
{% endblock content %}